<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let n of news">
    <img src="https://www.vagalume.com.br/{{ n.pic_src }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ n.featured }}</ion-card-subtitle>
      <ion-card-title>{{ n.headline }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ n.kicker }}
    </ion-card-content>
  </ion-card>
  

</ion-content>
